apiVersion: v1
kind: Template
metadata:
  name: linchpin-executor
labels:
  template: linchpin-executor

objects:
- kind: ImageStream
  apiVersion: v1
  metadata:
    name: "linchpin-executor"
    annotations:
      description: "A container used to execute linchpin commands"
      openshift.io/display-name: "Linchpin Executor (Ephemeral)"
      iconClass: linchpin
      tags: "linchpin"
      openshift.io/provider-display-name: "Red Hat, Inc."
  spec: {}

- kind: BuildConfig
  apiVersion: v1
  metadata:
    name: "linchpin-executor"
  spec:
    triggers:
    - type: ConfigChange
    source:
      type: DockerFile
      dockerfile: "FROM contrainfra/linchpin-executor:v1.6.5rc1"
    strategy:
      dockerStrategy:
        env:
          - name: CONTAINER_NAME
            value: linchpin-executor
          - name: GIT_SSL_NO_VERIFY
            value: 'true'
        noCache: true
      type: Docker
    output:
      to:
        kind: ImageStreamTag
        name: linchpin-executor:latest
